body {
  /* This stuff will go away when you implement the navbar i think */
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

text-color {
  color: pink;
}

.banner-container {
  /* need to not use defined heights */
  background-color: lightgrey;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testContainer {
  background-color: azure;

  /* temporary just for component creation */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}