body {
  /* This stuff will go away when you implement the navbar i think */
  max-width: 1620px;
  margin-right: auto;
  margin-left: auto;
}

text-color {
  color: pink;
}

.testContainer {
  /* temporary just for component creation */
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}