body {
  /* This stuff will go away when you implement the navbar i think */
  max-width: 3000px;
  margin-right: auto;
  margin-left: auto;
}

text-color {
  color: pink;
}


::-webkit-scrollbar {
  display: none;
}