.shopitem-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    background-color: white;
    width: 75%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}

@media screen and (max-width: 920px) {
    .shopitem-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 720px) {
    .shopitem-grid {
        grid-template-columns: 1fr;
    }
}